<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328183751429-47tfhr96tq2k7j9jrr60qj015q8pja2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328183751429-47tfhr96tq2k7j9jrr60qj015q8pja2s</string>
	<key>API_KEY</key>
	<string>AIzaSyDeDemJBPllBh7bCkhRc6EgKI80nffi4sU</string>
	<key>GCM_SENDER_ID</key>
	<string>328183751429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>igclone-60985</string>
	<key>STORAGE_BUCKET</key>
	<string>igclone-60985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328183751429:ios:cc3063d6e35d0a1b3acd6c</string>
</dict>
</plist>